<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>管理员管理</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/metisMenu.min.css" rel="stylesheet">
    <link href="/static/admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/admin/css/pagination.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/img/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/admin/js/admin.js" type="text/javascript"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">whuDa 后台管理系统</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        asdf
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/admin"><i class="fa fa-dashboard fa-fw"></i> 概览</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> 用户管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/admin/manage_admin/page/1" class="active">管理员</a>
                                </li>
                                <li>
                                    <a href="/admin/manage_user/page/1">普通用户</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/topic"><i class="fa fa-table fa-fw"></i> 话题管理</a>
                        </li>
                        <li>
                            <a href="/admin/forms"><i class="fa fa-edit fa-fw"></i> 问题管理</a>
                        </li>
                        <li>
                            <a href="/admin/forms"><i class="fa fa-comment fa-fw"></i> 回答管理</a>
                        </li>
                        <li>
                            <a href="/admin/forms"><i class="fa fa-wrench fa-fw"></i> 网站管理</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">管理员</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                所有管理员
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>管理员名</th>
                                            <th>性别</th>
                                            <th>邮箱</th>
                                            <th>QQ</th>
                                            <th>电话</th>
                                            <th>上次登陆时间</th>
                                            <th>上次登陆ip</th>
                                            <th>编辑</th>
                                            <th>修改密码</th>
                                            <th>删除</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for admin_data in admin_datas %}
                                        <tr>
                                            <td>{{ admin_data.username }}</td>
                                            <td>{{ admin_data.sex }}</td>
                                            <td>{{ admin_data.email }}</td>
                                            <td>{{ admin_data.qq }}</td>
                                            <td>{{ admin_data.phone }}</td>
                                            {% if admin_data.last_login %}
                                            <td>{{ admin_data.last_login | timeformat('%Y-%m-%d %H-%M') }}</td>
                                            {% else %}
                                            <td></td>
                                            {% endif %}
                                            <td>{{ admin_data.last_ip }}</td>
                                            <td><p><button type="button" class="btn btn-outline btn-primary">修 改</button></p></td>
                                            <td><p><button type="button" class="btn btn-outline btn-primary">修改密码</button></p></td>
                                            <td><p><button type="button" class="btn btn-outline btn-danger">删 除</button></p></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="page-control">
                                        <ul class="pagination pull-right">
                                            {% autoescape false %}
                                            {{ pagination }}
                                            {% endautoescape %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                添加管理员
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <form id="add_admin_form">
                                        <table class="table table-striped">
                                            <tbody>
                                            <tr>
                                                <td>管理员名：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <input class="form-control" id="username"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>密码：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <input class="form-control" id="password"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>确认密码：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <input class="form-control" id="repeat_password"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>性别：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <label>
                                                            <input name="sex" id="sex" value="1" type="radio" checked="checked"/>男</label>
                                                        <label>
                                                            <input name="sex" id="sex" value="0" type="radio"/>女</label>
                                                        <label>
                                                            <input name="sex" id="sex" value="2" type="radio"/>保密</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>生日：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <select id="birthday_y">
                                                            <option value="1970" selected>1970</option>
                                                            <option value="1971">1971</option>
                                                            <option value="1972">1972</option>
                                                            <option value="1973">1973</option>
                                                            <option value="1974">1974</option>
                                                            <option value="1975">1975</option>
                                                            <option value="1976">1976</option>
                                                            <option value="1977">1977</option>
                                                            <option value="1978">1978</option>
                                                            <option value="1979">1979</option>
                                                            <option value="1980">1980</option>
                                                            <option value="1981">1981</option>
                                                            <option value="1982">1982</option>
                                                            <option value="1983">1983</option>
                                                            <option value="1984">1984</option>
                                                            <option value="1985">1985</option>
                                                            <option value="1986">1986</option>
                                                            <option value="1987">1987</option>
                                                            <option value="1988">1988</option>
                                                            <option value="1989">1989</option>
                                                            <option value="1990">1990</option>
                                                            <option value="1991">1991</option>
                                                            <option value="1992">1992</option>
                                                            <option value="1993">1993</option>
                                                            <option value="1994">1994</option>
                                                            <option value="1995">1995</option>
                                                            <option value="1996">1996</option>
                                                            <option value="1997">1997</option>
                                                            <option value="1998">1998</option>
                                                            <option value="1999">1999</option>
                                                            <option value="2000">2000</option>
                                                            <option value="2001">2001</option>
                                                            <option value="2002">2002</option>
                                                            <option value="2003">2003</option>
                                                            <option value="2004">2004</option>
                                                            <option value="2005">2005</option>
                                                            <option value="2006">2006</option>
                                                            <option value="2007">2007</option>
                                                            <option value="2008">2008</option>
                                                            <option value="2009">2009</option>
                                                            <option value="2010">2010</option>
                                                            <option value="2011">2011</option>
                                                            <option value="2012">2012</option>
                                                            <option value="2013">2013</option>
                                                            <option value="2014">2014</option>
                                                            <option value="2015">2015</option>
                                                            <option value="2016">2016</option>
                                                        </select>年
                                                        <select id="birthday_m">
                                                            <option value="1" selected>1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select>月
                                                        <select id="birthday_d">
                                                            <option value="1" selected>1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30">30</option>
                                                            <option value="31">31</option>
                                                        </select>日
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>学院：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <select id="department_id">
                                                            <option value="1" selected>哲学学院</option>
                                                            <option value="2">国学院</option>
                                                            <option value="3">文学院</option>
                                                            <option value="4">外国语言文学学院</option>
                                                            <option value="5">新闻与传播学院</option>
                                                            <option value="6">艺术学系</option>
                                                            <option value="8">经济与管理学院</option>
                                                            <option value="9">法学院</option>
                                                            <option value="10">马克思主义学院</option>
                                                            <option value="11">社会学系</option>
                                                            <option value="12">政治与公共管理学院</option>
                                                            <option value="13">教育科学研究院</option>
                                                            <option value="14">信息管理学院</option>
                                                            <option value="15">国际教育学院</option>
                                                            <option value="16">数学与统计学院</option>
                                                            <option value="17">物理科学与技术学院</option>
                                                            <option value="18">化学与分子科学学院</option>
                                                            <option value="19">生命科学学院</option>
                                                            <option value="20">资源与环境科学学院</option>
                                                            <option value="21">动力与机械学院</option>
                                                            <option value="22">电气工程学院</option>
                                                            <option value="23">城市设计学院</option>
                                                            <option value="24">土木建筑工程学院</option>
                                                            <option value="25">水利水电学院</option>
                                                            <option value="26">电子信息学院</option>
                                                            <option value="27">计算机学院</option>
                                                            <option value="28">国际软件学院</option>
                                                            <option value="29">测绘学院</option>
                                                            <option value="30">遥感信息工程学院</option>
                                                            <option value="31">印刷与包装系</option>
                                                            <option value="32">医学部机关</option>
                                                            <option value="33">基础医学院</option>
                                                            <option value="34">公共卫生学院</option>
                                                            <option value="35">第一临床医学院</option>
                                                            <option value="36">第二临床医学院</option>
                                                            <option value="37">口腔医学院</option>
                                                            <option value="38">HOPE护理学院</option>
                                                            <option value="39">药学院</option>
                                                            <option value="40">医学职业技术学院</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>简介：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <input class="form-control" id="brief"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>邮箱：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <input class="form-control" id="email"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>QQ：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <input class="form-control" id="qq"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>电话：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <input class="form-control" id="phone"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>网站：</td>
                                                <td>
                                                    <div class="form-group">
                                                        <input class="form-control" id="website"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><button type="button" class="btn btn-primary" onclick="add_admin()">添加</button></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery.2.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/admin/js/metisMenu.min.js"></script>
    <script src="/static/admin/js/sb-admin-2.js"></script>
</body>
</html>