<html class="">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <title>动态 - WhuDa 符合大学生行为习惯的网络问答社区</title>
    <meta name="keywords" content="WhuDa">
    <meta name="description" content="WhuDa">
    <base href="/"><!--[if IE]></base><![endif]-->
    <link href="/static/img/favicon.png" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link href="/static/css/common.css" rel="stylesheet" type="text/css">
    <link href="/static/css/link.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">

    <script src="/static/js/jquery.2.js" type="text/javascript"></script>
    <script src="/static/js/jquery.form.js" type="text/javascript"></script>
    <script src="/static/js/plug-in_module.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/global.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/compatibility.js"></script>
    <script>
        current_dynamic_page = 1
        user_uid = {{ user.uid }}
    </script>
    <!--[if lte IE 8]>
	<script type="text/javascript" src="/static/js/respond.js"></script>
    <![endif]-->
    <noscript unselectable="on" id="noscript">
        <div class="aw-404 aw-404-wrap container">
            <img src="/static/common/no-js.jpg">
            <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
        </div>
    </noscript>
</head>
<div class="aw-top-menu-wrap">
    <div class="container">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="/"></a>
        </div>
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="/search" id="global_search_form" method="post">
                <input class="form-control search-query" type="text" placeholder="搜索问题、话题或人" autocomplete="off" name="q" id="aw-search-query">
                <span title="搜索" id="global_search_btns" onclick="$('#global_search_form').submit();"><i class="icon icon-search"></i></span>
                <div class="aw-dropdown">
                    <div class="mod-body">
                        <p class="title">输入关键字进行搜索</p>
                        <ul class="aw-dropdown-list collapse"></ul>
                        <p class="search"><span>搜索:</span><a onclick="$('#global_search_form').submit();"></a></p>
                    </div>
                    <div class="mod-footer">
                        <a href="javascript:;" onclick="$('#header_publish').click();" class="pull-right btn btn-mini btn-success publish">发起问题</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/dynamic" class="active"><i class="icon icon-home"></i> 动态</a></li>
                    <li><a href="/" class=""><i class="icon icon-list"></i> 发现</a></li>
                    <li><a href="/topic"><i class="icon icon-topic"></i> 话题</a></li>
                    <li>
                        <a href="/notifications" class=""><i class="icon icon-bell"></i> 通知</a>
                    </li>
                    <li><a href="/help"><i class="icon icon-bulb"></i> 帮助</a></li>
                    <li>
                        <a style="font-weight:bold;">· · ·</a>
                        <div class="dropdown-list pull-right">
                            <ul id="extensions-nav-list">
                                <li><a href="/about"><i class="icon icon-activity"></i>关于</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <a href="/people/{{ user.username }}" class="aw-user-nav-dropdown">
                <img alt="{{ user.username }}" src="/{{ user.avatar_url }}">

            </a>
            <div class="aw-dropdown dropdown-list pull-right">
                <ul class="aw-dropdown-list">
                    <li><a href="/message"><i class="icon icon-inbox"></i> 私信<span class="badge badge-important collapse" id="inbox_unread" style="display: none;">{{ user.message_unread }}</span></a></li>
                    <li class="hidden-xs"><a href="/setting"><i class="icon icon-setting"></i> 设置</a></li>
                    <li><a href="/logout"><i class="icon icon-logout"></i> 退出</a></li>
                </ul>
            </div>
        </div>
        <!-- 发起 -->
        <div class="aw-publish-btn">
            <a id="header_publish" class="btn-primary" href="/publish"><i class="icon icon-ask"></i>发起</a>
            <div class="dropdown-list pull-right">
                <ul>
                    <li>
                        <a href="/publish">问题</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!-- 新消息通知 -->
                    <div class="aw-mod aw-notification-box collapse" id="index_notification">
                        <div class="mod-head common-head">
                            <h2>
                                <span class="pull-right"><a href="/setting/privacy/#notifications" class="text-color-999"><i class="icon icon-setting"></i> 通知设置</a></span>
                                <i class="icon icon-bell"></i>新通知<em class="badge badge-important" name="notification_unread_num">0</em>
                            </h2>
                        </div>
                        <div class="mod-body">
                            <ul id="notification_list"></ul>
                        </div>
                        <div class="mod-footer clearfix">
                            <a href="javascript:;" onclick="AWS.Message.read_notification(false, 0, false);" class="pull-left btn btn-mini btn-default">我知道了</a>
                            <a href="/notifications" class="pull-right btn btn-mini btn-success">查看所有</a>
                        </div>
                    </div>

                    <a name="c_contents"></a>
                    <div class="aw-mod clearfix">
                        <div class="mod-head common-head">
                            <h2 id="main_title">最新动态</h2>
                        </div>
                        <!-- 动态列表 -->
                        <div class="mod-body aw-feed-list clearfix" id="main_contents">
                            {% for data in datas %}
                                <div class="aw-item">
                                    <div class="mod-head">
                                        {% if data.is_anonymous %}
                                            <a data-id="49" class="aw-user-img aw-border-radius-5" href="/people{{ data.user_url }}"><img src="/static/img/avatar/avatar.png"></a>
                                            <p class="text-color-999">
                                                <a href="/people{{ data.user_url }}" class="aw-user-name">{{ data.dynamic_str }}</a> • {{ data.publish_time }} •
                                        {% else %}
                                                <a data-id="49" class="aw-user-img aw-border-radius-5" href="/people{{ data.user_url }}"><img src="/{{ data.avatar_url }}"></a>
                                            <p class="text-color-999">
                                            <a href="/people{{ data.user_url }}" class="aw-user-name">{{ data.dynamic_str }}</a> • {{ data.publish_time }} •
                                        {% endif %}
                                        <a href="/question/{{ data.question_id }}" class="text-color-999">{{ data.question_answer_count }} 个回复</a>
                                        </p>
                                        <h4><a href="/question/{{ data.question_id }}">{{ data.title }}</a></h4>
                                    <div class="meta clearfix">
                                            <!-- 投票栏 -->
			                                <span class="pull-right more-operate">
								                <a href="javascript:;" onclick=";" class="text-color-999"><i class="icon icon-favor"></i>收藏</a>
				                                <a class="text-color-999 dropdown-toggle" data-toggle="dropdown">
					                            <i class="icon icon-share"></i>分享</a>
				                                <div aria-labelledby="dropdownMenu" role="menu" class="aw-dropdown shareout pull-right">
                                                    <ul class="aw-dropdown-list">
                                                        <li><a onclick=";"><i class="icon icon-weibo"></i> 微博</a></li>
                                                        <li><a onclick=";"><i class="icon icon-qzone"></i> QZONE</a></li>
                                                        <li><a onclick=";"><i class="icon icon-wechat"></i> 微信</a></li>
                                                    </ul>
				                                </div>
			                                </span>
                                        </div>
                                    </div>
                                    <div class="mod-body clearfix">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="mod-footer">
                            <!-- 加载更多内容 -->
                            <a id="bp_more" class="aw-load-more-content" data-page="1" onclick="c_more_dynamic();">
                                <span>更多</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
                    <div class="aw-mod side-nav">
                        <div class="mod-body">
                            <ul>
                                <li><a href="/dynamic" class="active"><i class="icon icon-home"></i>最新动态</a></li>
                                <li><a href="/favorite"><i class="icon icon-favor"></i>我的收藏</a></li>
                                <li><a href="/me_focus_questions"><i class="icon icon-check"></i>我关注的问题</a></li>
                                <li><a href="/me_focus_topics"><i class="icon icon-mytopic"></i>我关注的话题</a></li>
                                <li><a href="/home"><i class="icon icon-invite"></i>邀请我回复的问题</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aw-mod side-nav">
                        <div class="mod-body">
                            <ul>
                                <li><a href="/topic"><i class="icon icon-topic"></i>所有话题</a></li>
                                <li><a href="/all_users"><i class="icon icon-user"></i>所有用户</a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- 可能感兴趣的人/或话题 -->
                    <div class="aw-mod interest-user">
                        <div class="mod-head"><h3>可能感兴趣的人或话题</h3></div>
                        <div class="mod-body">
                            {% for user in hot_users %}
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="/people/{{ user.username }}" class="aw-user-name"><img alt="{{ user.username }}" src="/{{ user.avatar_url }}"></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="/people/{{ user.username }}" class="aw-user-name"><span>{{ user.username }}</span></a>
                                    <p class="signature">{% if user.introduction %}{{ user.introduction }}{% endif %}</p>
                                </dd>
                            </dl>
                            {% endfor %}
                            {% for topic in topics %}
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="/topic/{{ topic.topic_id }}"><img alt="{{ topic.topic_name }}" src="/{{ topic.topic_url }}"></a>
                                </dt>
                                <dd class="pull-left">
				                        <span class="topic-tag">
					                    <a href="/topic/{{ topic.topic_id }}" class="text">{{ topic.topic_name }}</a>
				                        </span>&nbsp;
                                    <a class="icon-inverse follow tooltips icon icon-plus" data-placement="bottom" title="" data-toggle="tooltip" data-original-title="关注" onclick=""></a>
                                    {% if topic.usernmae %}<p><a href="/people/{{ topic.username }}" class="aw-user-name">{{ topic.username }}</a> 关注了该话题</p>{% endif %}
                                </dd>
                            </dl>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>


<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2016<span class="hidden-xs"> - All Rights Reserved</span>
    </div>
</div>
<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>
<script type="text/javascript" src="/static/js/bughd.min.js" crossOrigin="anonymous"></script>
</body>
</html>