
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>bug反馈内容</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""  />
    <base href="/" /><!--[if IE]></base><![endif]-->
    <link href="/static/img/favicon.png" rel="shortcut icon" type="image/x-icon" />

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/icon.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/link.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <script>
        var current_c_all_more_page = 1;
        var topic_detail_page_topic_id = {{ topic.topic_id }};
    </script>

    <script src="/static/js/jquery.2.js?" type="text/javascript"></script>
    <script src="/static/js/jquery.form.js" type="text/javascript"></script>
    <script src="/static/js/plug-in_module.js" type="text/javascript"></script>
    <script src="/static/js/compatibility.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/global.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/topic.js"></script>
    <!--[if lte IE 8]>
	<script type="text/javascript" src="/static/js/respond.js"></script>
    <![endif]-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="/static/img/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<div class="aw-top-menu-wrap">
    <div class="container">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="/"></a>
        </div>
        <!-- end logo -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="/search" id="global_search_form" method="post">
                <input class="form-control search-query" type="text" placeholder="搜索问题" autocomplete="off" name="q" id="aw-search-query" />
                <span title="搜索" id="global_search_btns" onClick="$('#global_search_form').submit();"><i class="icon icon-search"></i></span>
                <div class="aw-dropdown">
                    <div class="mod-body">
                        <p class="title">输入关键字进行搜索</p>
                        <ul class="aw-dropdown-list collapse"></ul>
                        <p class="search"><span>搜索:</span><a onClick="$('#global_search_form').submit();"></a></p>
                    </div>
                    <div class="mod-footer">
                        <a href="javascript:;" onClick="$('#header_publish').click();" class="pull-right btn btn-mini btn-success publish">发起问题</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/dynamic"><i class="icon icon-home"></i> 动态</a></li>
                    <li><a href="/" class=""><i class="icon icon-list"></i> 发现</a></li>
                    <li><a href="/topic"><i class="icon icon-topic"></i> 话题</a></li>
                    <li>
                        <a href="/notifications" class=""><i class="icon icon-bell"></i> 通知</a>
                        <span class="badge badge-important" style="display:none" id="notifications_unread">0</span>

                    </li>
                    <li><a href="/help"><i class="icon icon-bulb"></i> 帮助</a></li>
                    <li>
                        <a style="font-weight:bold;">· · ·</a>
                        <div class="dropdown-list pull-right">
                            <ul id="extensions-nav-list">
                                <li><a href="/about"><i class="icon icon-activity"></i>关于</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <a href="/people/{{ user.username }}" class="aw-user-nav-dropdown">
                <img alt="{{ user.username }}" src="/{{ user.avatar_url }}">

            </a>
            <div class="aw-dropdown dropdown-list pull-right">
                <ul class="aw-dropdown-list">
                    <li><a href="/message"><i class="icon icon-inbox"></i> 私信<span class="badge badge-important collapse" id="inbox_unread" style="display: none;">0</span></a></li>
                    <li class="hidden-xs"><a href="/setting"><i class="icon icon-setting"></i> 设置</a></li>
                    <li><a href="/logout"><i class="icon icon-logout"></i> 退出</a></li>
                </ul>
            </div>
        </div>
        <!-- 发起 -->
        <div class="aw-publish-btn">
            <a id="header_publish" class="btn-primary" href="/publish" onclick="AWS.dialog('publish', {'category_enable':'0', 'category_id':'0', 'topic_title':''}); return false;"><i class="icon icon-ask"></i>发起</a>
            <div class="dropdown-list pull-right">
                <ul>
                    <li>
                        <form method="post" action="/publish">
                            <a onclick="$(this).parents('form').submit();">问题</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="aw-global-tips">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <div class="aw-mod aw-topic-detail-title">
                        <div class="mod-body">
                            <img src="/{{ topic.topic_url }}" alt="{{ topic.name }}" />
                            <h2 class="pull-left">{{ topic.name }} </h2>
                            <div class="aw-topic-operate text-color-999">
                                {% if has_focus %}
                                <a href="javascript:;" onclick="switch_focus($(this))" class="follow btn btn-normal btn-success active"><span>取消关注</span> <em>|</em> <b>{{ focus_count }}</b></a>
                                {% else %}
                                <a href="javascript:;" onclick="switch_focus($(this))" class="follow btn btn-normal btn-success"><span>关注</span> <em>|</em> <b>{{ focus_count }}</b></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="aw-mod aw-topic-list-mod">
                        <div class="mod-head">
                            <div class="tabbable">
                                <!-- tab 切换 -->
                                <ul class="nav nav-tabs aw-nav-tabs hidden-xs">
                                    <li class="active"><a href="#" data-toggle="tab">全部内容</a></li>
                                    <div class="aw-search-bar pull-right hidden-xs">
                                        <i class="icon icon-search"></i>
                                        <input type="text" id="question-input" class="search-query form-control" placeholder="搜索...">
                                    </div>
                                </ul>
                            </div>
                        </div>

                        <div class="mod-body">
                            <!-- tab 切换内容 -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="all">
                                    <div class="aw-mod">
                                        <div class="mod-body">
                                            <div class="aw-common-list" id="c_all_list">
                                                {% for data in datas %}
                                                <div class="aw-item">
                                                {% if data.is_anonymous %}
                                                    <a class="aw-user-name hidden-xs" href="/people"><img src="/static/img/avatar/avatar.png" alt="匿名用户" title="匿名用户" /></a>
                                                {% else %}
                                                    <a class="aw-user-name hidden-xs" href="/people{{ data.user_url }}"><img src="{{ data.avatar_url}}" /></a>
                                                {% endif %}
                                                    <div class="aw-question-content">
                                                        <h4>
                                                            <a href="/question/{{ data.question_id }}">{{ data.title }}</a>
                                                        </h4>
                                                        <a href="/question/{{ data.question_id }}" class="pull-right text-color-999">回复</a>
                                                        <p>
                                                            <a href="/people{{ data.user_url }}" class="aw-user-name">{{ data.dynamic_str }}</a>
                                                            <span class="text-color-999"> • {{ data.question_focus_count }} 人关注 • {{ data.question_answer_count }} 个回复 • {{ data.question_view_count }} 次浏览 • {{ data.publish_time }}</span>
                                                        </p>

                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="mod-footer">
                                            <a class="aw-load-more-content" id="c_all_more" auto-load="false" onclick="c_all_more()">
                                                <span>更多</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
                    <!-- 话题描述 -->
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <h3>话题描述</h3>
                        </div>
                        <div class="mod-body">
                            <p>{{ topic.introducation }}</p>
                        </div>
                    </div>

                    <!-- xx人关注该话题 -->
                    <div class="aw-mod topic-status">
                        <div class="mod-head">
                            <h3>{{ focus_count }} 人关注该话题</h3>
                        </div>
                        <div class="mod-body">
                            {% for user in focus_users %}
                            <div id="focus_users" class="aw-border-radius-5">
                                <a href="/people/{{ user.username }}">
                                    <img src="/{{ user.avatar_url }}" alt="{{ user.username }}">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- 话题修改记录 -->
                    <div class="aw-mod topic-edit-notes">
                        <div class="mod-head">
                            <h3><i class="icon icon-down pull-right"></i>话题讨论数</h3>
                        </div>
                        <div class="mod-body collapse">
                            <ul>
                                <li onclick="">
                                    <span class="pull-right text-color-999">{{ c_time }}</span>
                                    <span>{{ question_count }} 个讨论</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end 话题修改记录 -->

                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>


<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2016<span class="hidden-xs"> - All Rights Reserved</span>

    </div>
</div>

<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>
<script type="text/javascript" src="/static/js/bughd.min.js" crossOrigin="anonymous"></script>


</body>
</html>
