<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>WhuDa 符合大学生行为习惯的网络问答社区</title>
    <meta name="keywords" content=" " />
    <meta name="description" content=" "  />
    <base href="#" /><!--[if IE]></base><![endif]-->
    <link href="/static/img/favicon.png" rel="shortcut icon" type="image/x-icon" />

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/icon.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/link.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />

    <script src="/static/js/jquery.2.js" type="text/javascript"></script>
    <script src="/static/js/jquery.form.js" type="text/javascript"></script>
    <script src="/static/js/plug-in_module.js" type="text/javascript"></script>
    <script src="/static/js/compatibility.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/global.js" type="text/javascript"></script>
    <!--[if lte IE 8]>
	<script type="text/javascript" src="/static/js/respond.js"></script>
    <![endif]-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="/static/img/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<div class="aw-top-menu-wrap">
    <div class="container">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="/"></a>
        </div>
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
                <input class="form-control search-query" type="text" placeholder="搜索问题、话题或人" id="aw-search-query" />
                <span title="搜索" id="global_search_btns" onclick="global_search();"><i class="icon icon-search"></i></span>
        </div>
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/dynamic"><i class="icon icon-home"></i> 动态</a></li>
                    <li><a href="/" class="active"><i class="icon icon-list"></i> 发现</a></li>
                    <li><a href="/topic"><i class="icon icon-topic"></i> 话题</a></li>
                    <li>
                        <a href="/notifications" class=""><i class="icon icon-bell"></i> 通知</a>
                        <span class="badge badge-important" style="display:none" id="notifications_unread">{{ user.notification_unread }}</span>
                    </li>
                    <li><a href="/help"><i class="icon icon-bulb"></i> 帮助</a></li>
                    <li>
                        <a style="font-weight:bold;">· · ·</a>
                        <div class="dropdown-list pull-right">
                            <ul id="extensions-nav-list">
                                <li><a href="/about"><i class="icon icon-activity"></i>关于</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <a href="/people/{{ user.username }}" class="aw-user-nav-dropdown">
                <img alt="{{ user.username }}" src="/{{ user.avatar_url }}">
            </a>
            <div class="aw-dropdown dropdown-list pull-right">
                <ul class="aw-dropdown-list">
                    <li><a href="/message"><i class="icon icon-inbox"></i> 私信<span class="badge badge-important collapse" id="inbox_unread" style="display: none;">0</span></a></li>
                    <li class="hidden-xs"><a href="/setting"><i class="icon icon-setting"></i> 设置</a></li>
                    <li><a href="/logout"><i class="icon icon-logout"></i> 退出</a></li>
                </ul>
            </div>
        </div>
        <!-- 发起 -->
        <div class="aw-publish-btn">
            <a id="header_publish" class="btn-primary" href="/publish" onclick=""><i class="icon icon-ask"></i>发起</a>
            <div class="dropdown-list pull-right">
                <ul>
                    <li>
                        <a href="/publish">问题</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!-- tab切换 -->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li><a href="/wait-reply">等待回复</a></li>
                        <li><a href="/hot" id="sort_control_hot">热门</a></li>
                        <li class="active"><a href="/dynamic">最新</a></li>
                        <h2 class="hidden-xs"><i class="icon icon-list"></i> 发现</h2>
                    </ul>
                    <!-- 问题列表 -->
                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list">
                                {% for data in datas %}
                                    <div class="aw-item">
                                        {% if data.is_anonymous %}
                                            <a class="aw-user-name hidden-xs" rel="nofollow"><img src="{{ data.avatar_url }}" alt="anonymous" /></a>
                                        {% else %}
                                            <a class="aw-user-name hidden-xs" href="/people{{ data.user_url }}" rel="nofollow"><img src="{{ data.avatar_url }}" /></a>
                                        {% endif %}
                                        <div class="aw-question-content">
                                            <h4><a href="/question/{{ data.question_id }}">{{ data.title }}</a></h4>
                                            <a href="/question/{{ data.question_id }}" class="pull-right text-color-999">回复</a>
                                            <p>
                                            <span class="text-color-999">
                                                <a href="/people{{ data.user_url }}" class="aw-user-name">{{ data.dynamic_str }}</a> • {{ data.question_focus_count }} 人关注 • {{ data.question_answer_count }} 个回复 • {{ data.question_view_count }} 次浏览 • {{ data.past_time }}前</span>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="page-control">
                                <ul class="pagination pull-right">
                                    {% autoescape false %}
                                    {{ pagination }}
                                    {% endautoescape %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <a href="/hot" class="pull-right">更多 &gt;</a>
                            <h3>热门话题</h3>
                        </div>
                        <div class="mod-body">
                            <!-- 每一个dl是一个热门个话题 -->
                            {% for x in hot_topics %}
                                <dl>
                                    <dt class="pull-left aw-border-radius-5">
                                        <a href="/topic/{{ x.topic_id }}"><img alt="" src="/{{ x.topic_url }}" /></a>
                                    </dt>
                                    <dd class="pull-left">
                                        <p class="clearfix">
						                <span class="topic-tag">
                                            <a href="/topic/{{ x.topic_id }}" class="text">{{ x.topic_name }}</a>
                                        </span>
                                        </p>
                                        <p><b>{{ x.question_count }}</b> 个问题, <b>{{ x.focus_count }}</b> 人关注</p>
                                    </dd>
                                </dl>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <a href="/all_users" class="pull-right">更多 &gt;</a>
                            <h3>热门用户</h3>
                        </div>
                        <div class="mod-body">
                            <!-- 每一个dl是一个热门个用户 -->
                            {% for x in hot_users %}
                                <dl>
                                    <dt class="pull-left aw-border-radius-5">
                                        <a href="/people/{{ x.username }}"><img alt="{{ x.username }}" src="/{{ x.avatar_url }}" /></a>
                                    </dt>
                                    <dd class="pull-left">
                                        <a href="/people/{{ x.username }}" class="aw-user-name">{{ x.username }} </a>
                                        <p class="signature"></p>
                                        <p><b>{{ x.question_count }}</b> 个问题, <b>{{ x.answer_count }}</b> 次答复</p>
                                    </dd>
                                </dl>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2016<span class="hidden-xs"> - All Rights Reserved</span>



    </div>
</div>
<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>
<script type="text/javascript" src="/static/js/bughd.min.js" crossOrigin="anonymous"></script>
</body>
</html>
