<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>基本资料 - 设置 - WhuDa 符合大学生行为习惯的网络问答社区</title>
    <meta name="keywords" content=" "/>
    <meta name="description" content=" "/>
    <base href="/" /><!--[if IE]></base><![endif]-->
    <link href="/static/img/favicon.png" rel="shortcut icon" type="image/x-icon" />

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/icon.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/link.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/user-setting.css" rel="stylesheet" type="text/css" />


    <script src="/static/js/jquery.2.js" type="text/javascript"></script>
    <script src="/static/js/jquery.form.js" type="text/javascript"></script>
    <script src="/static/js/plug-in_module.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/compatibility.js" type="text/javascript"></script>
    <script src="/static/js/global.js" type="text/javascript"></script>
    <!--[if lte IE 8]>
	<script type="text/javascript" src="/static/js/respond.js"></script>
    <![endif]-->

    <script src="/static/sw/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/sw/sweetalert.css">
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="/static/img/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<div class="aw-top-menu-wrap">
    <div class="container">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="/"></a>
        </div>
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <input class="form-control search-query" type="text" placeholder="搜索问题" id="aw-search-query" onkeydown="if(event.keyCode==13){document.getElementById('global_search_btns').click();return false;}"/>
            <span title="搜索" id="global_search_btns" onclick="global_search();"><i class="icon icon-search"></i></span>
        </div>
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button  class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><i class="icon icon-home"></i> 动态</a></li>
                    <li><a href="/" class=""><i class="icon icon-list"></i> 发现</a></li>
                    <li><a href="/topic" ><i class="icon icon-topic"></i> 话题</a></li>
                    <li>
                        <a href="/notifications"><i class="icon icon-bell"></i> 通知</a>
                        <span class="badge badge-important" style="display:none" id="notifications_unread">0</span>
                    </li>
                    <li><a href="/help"><i class="icon icon-bulb"></i> 帮助</a></li>
                    <li>
                        <a style="font-weight:bold;">· · ·</a>
                        <div class="dropdown-list pull-right">
                            <ul id="extensions-nav-list">
                                <li><a href="/about"><i class="icon icon-activity"></i> 关于</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            <a href="/people/{{ user.username }}" class="aw-user-nav-dropdown">
                <img alt="t" src="/{{ user.avatar_url }}" />
            </a>
            <div class="aw-dropdown dropdown-list pull-right">
                <ul class="aw-dropdown-list">
                    <li><a href="/message"><i class="icon icon-inbox"></i> 私信<span class="badge badge-important collapse" id="inbox_unread">0</span></a></li>
                    <li class="hidden-xs"><a href="/setting"><i class="icon icon-setting"></i> 设置</a></li>
                    <li><a href="/logout"><i class="icon icon-logout"></i> 退出</a></li>
                </ul>
            </div>
        </div>
        <!-- 发起 -->
        <div class="aw-publish-btn">

            <a id="header_publish" class="btn-primary" href="/publish" onclick=";"><i class="icon icon-ask"></i>发起</a>
            <div class="dropdown-list pull-right">
                <ul>
                    <li>
                        <form method="post" action="/publish">
                            <a onclick=";">问题</a>
                        </form>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="aw-user-setting">
                    <div class="tabbable">
                        <ul class="nav nav-tabs aw-nav-tabs active">
                            <li><a href="/setting/security">安全设置</a></li>
                            <li class="active"><a href="/setting">基本资料</a></li>

                            <h2><i class="icon icon-setting"></i> 用户设置</h2>
                        </ul>
                    </div>

                    <div class="tab-content clearfix">
                        <!-- 基本信息 -->
                        <div class="aw-mod">
                            <div class="mod-body">
                                <div class="aw-mod mod-base">
                                    <div class="mod-head">
                                        <h3>基本信息</h3>
                                    </div>
                                    <div class="mod-body">
                                        <dl>
                                            <dt>用户名:</dt>
                                            <dd>{{ user.username }}</dd>
                                        </dl>
                                        <dl>
                                            <dt>邮箱:</dt>
                                            <dd>{{ user.email }}</dd>
                                        </dl>
                                        <dl>
                                            <dt>性别:</dt>
                                            <dd>
                                                <label>
                                                    <input name="sex" id="sex" value="1" type="radio" {% if user.sex == 1 %} checked="checked" {% endif %}/>男</label>
                                                <label>
                                                    <input name="sex" id="sex" value="0" type="radio" {% if user.sex == 0 %} checked="checked" {% endif %}/>女</label>
                                                <label>
                                                    <input name="sex" id="sex" value="2" type="radio" {% if user.sex == 2 %} checked="checked" {% endif %}/>保密</label>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>生日:</dt>
                                            <dd>
                                                <select name="birthday_y">
                                                    {% autoescape false %}
                                                    {% for year in dates.year %}
                                                        <option value="{{ year }}"
                                                                {% if birthday %}
                                                                    {% if birthday.year == year %}
                                                                selected
                                                                    {% endif %}
                                                                {% endif %}>
                                                            {{ year }}
                                                        </option>
                                                    {% endfor %}
                                                    {% endautoescape %}
                                                </select>年
                                                <select name="birthday_m">
                                                    {% autoescape false %}
                                                    {% for month in dates.month %}
                                                        <option value="{{ month }}"
                                                                {% if birthday %}{% if birthday.month == month %}
                                                                selected
                                                                {% endif %}{% endif %}
                                                        > {{ month }}</option>
                                                    {% endfor %}
                                                    {% endautoescape %}
                                                </select>月
                                                <select name="birthday_d">
                                                    {% autoescape false %}
                                                    {% for day in dates.day %}
                                                        <option value="{{ day }}"
                                                                {% if birthday %}
                                                                    {% if birthday.day == day %}
                                                                selected
                                                                    {% endif %}
                                                                {% endif %}>
                                                            {{ day }}
                                                        </option>
                                                    {% endfor %}
                                                    {% endautoescape %}
                                                </select>日
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><label>所在院系:</label></dt>
                                            <dd><select id="department" style="width: auto">
                                                {% for department in departments %}
                                                    <option value="{{ department.department_id }}"
                                                            {% if user.department_id == department.department_id %}
                                                            check="checked"
                                                            {% endif %}>{{ department.name }}</option>
                                                {% endfor %}
                                            </select></dd>
                                        </dl>
                                        <dl>
                                            <dt><label>介绍:</label></dt>
                                            <dd class="introduce"><input class="form-control" name="signature" maxlength="128" type="text" value="{% if user.introduction %}{{ user.introduction }}{% endif %}" /></dd>
                                        </dl>
                                        <!-- 上传头像 -->
                                        <div class="side-bar">
                                            <dl>
                                                <dt class="pull-left"><img class="aw-border-radius-5" src="/{{ user.avatar_url }}" alt="" id="avatar_src" /></dt>
                                                <dd class="pull-left">
                                                    <h5>头像设置</h5>
                                                    <p>支持 jpg、gif、png 等格式的图片</p>
                                                    <a class="btn btn-mini btn-success" id="avatar_uploader">
                                                        <form method="post" enctype="multipart/form-data" id="upload-form" action="/user/avatar/upload">
                                                            <input type="file" class="file-input" id="upload_file" name="file" multiple="multiple" />
                                                        </form>上传头像</a>
                                                </dd>
                                            </dl>
                                        </div>
                                        <!-- end 上传头像 -->
                                    </div>
                                </div>
                                <!-- end 基本信息 -->

                                <!-- 联系方式 -->
                                <div class="aw-mod mod-contact">
                                    <div class="mod-head">
                                        <h3>联系方式</h3>
                                    </div>
                                    <div class="mod-body clearfix">
                                        <ul>
                                            <li>
                                                <label for="input-qq">QQ:</label>
                                                <input class="form-control" type="text" id="input-qq" name="qq" value="{% if user.qq %}{{ user.qq }}{% endif %}" />
                                            </li>
                                            <li>
                                                <label for="input-mobile">手机号码:</label>
                                                <input class="form-control" type="text" id="input-mobile" name="mobile" value="{% if user.phone %}{{ user.phone }}{% endif %}" />
                                            </li>
                                            <li>
                                                <label for="input-homepage">网站:</label>
                                                <input class="form-control" type="text" id="input-homepage" name="homepage" value="{% if user.website %}{{ user.website }}{% endif %}" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end 联系方式 -->
                                </form>
                            </div>
                            <div class="mod-footer clearfix">
                                <a class="btn btn-large btn-success pull-right" onclick="update_user_profile()">保存</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2016<span class="hidden-xs"> - All Rights Reserved</span>
    </div>
</div>

<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>
<script type="text/javascript" src="/static/js/bughd.min.js" crossOrigin="anonymous"></script>


</body>
</html>
