<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>500 Server Error</title>
    <link href="/static/css/vendor.css" rel="stylesheet">
    <link href='/static/css/googleapis.css' rel='stylesheet' type='text/css'>
    <link href="/static/css/500.css" rel="stylesheet" >
    <script src="/static/js/modernizr.js"></script>
    <link href="/static/img/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
<div class="page_overlay">
    <div class="loader-inner ball-pulse">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="landingpage-wrap animated fadeIn">
    <div class="container">
        <div class="row">
            <aside>
                <h1>WHUDA SERVER ERROR <strong>500</strong></h1>
                <p>服务器提出了一个问题</p>
                <p>500 server error<br>
                </p>
            </aside>
            <main>
                <div class="page-list">
                    <figure>
                        <a href="/"> <img src="/static/img/500.jpg"></a>
                    </figure>
                </div>
            </main>
            <footer>
                <div class="footerblock pull-left">
                    <p><span class="user">whuDa</span> <br>
                        <a href="/"><em>返回首页</em></a></p>
                </div>
            </footer>
        </div>
    </div>

</div>
<script src="/static/js/500/vendor.js"></script>
<script src="/static/js/500/plugins.js"></script>
<script src="/static/js/500/main.js"></script>
</body>
</html>