<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>这是一个具体的问题标题 - WhuDa 符合大学生行为习惯的网络问答社区</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""  />
    <base href="/" /><!--[if IE]></base><![endif]-->
    <link href="#" rel="shortcut icon" type="image/x-icon" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/icon.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/link.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />

    <script src="/static/js/jquery.2.js" type="text/javascript"></script>
    <script src="/static/js/jquery.form.js" type="text/javascript"></script>
    <script src="/static/js/plug-in_module.js" type="text/javascript"></script>
    <script src="/static/js/compatibility.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <!--[if lte IE 8]>
	<script type="text/javascript" src="static/js/respond.js"></script>
<![endif]-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<div class="aw-top-menu-wrap">
    <div class="container">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="/"></a>
        </div>
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="/" id="global_search_form" method="post">
                <input class="form-control search-query" type="text" placeholder="搜索问题、话题或人" autocomplete="off" name="q" id="aw-search-query" />
                <span title="搜索" id="global_search_btns" onClick="window.alert('serach!');"><i class="icon icon-search"></i></span>
            </form>
        </div>
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button  class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><i class="icon icon-list"></i> 发现</a></li>
                    <li><a href="/topic" ><i class="icon icon-topic"></i> 话题</a></li>
                    <li><a href="/help"><i class="icon icon-bulb"></i> 帮助</a></li>
                    <li>
                        <a style="font-weight:bold;">· · ·</a>
                        <div class="dropdown-list pull-right">
                            <ul id="extensions-nav-list">
                                <li><a href="/about"><i class="icon icon-activity"></i> 关于Whuda</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            <a class="login btn btn-normal btn-primary" href="/login">登录</a>
            <a class="register btn btn-normal btn-success" href="/register">注册</a>
        </div>
    </div>
</div>


<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!-- 话题bar -->
                    <div class="aw-mod aw-topic-bar" id="question_topic_editor">
                        <div class="tag-bar clearfix">
                            {% for topic in topics %}
                                <span class="topic-tag">
                                <a href="/topic/{{ topic.topic_id }}" class="text">{{ topic.name }}</a>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="aw-mod aw-question-detail aw-item">
                        <div class="mod-head">
                            <h1>{{ question.title }}</h1>
                        </div>
                        <div class="mod-body">
                            <div class="content markitup-box">
                                {% autoescape false %}
                                {{ question.content }}
                                {% endautoescape %}
                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="meta">
                                <span class="text-color-999">{{ question.publish_time }}</span>

                                <div class="pull-right more-operate">
                                    <a class="text-color-999 dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon icon-share"></i>分享
                                    </a>
                                    <div aria-labelledby="dropdownMenu" role="menu" class="aw-dropdown shareout pull-right">
                                        <ul class="aw-dropdown-list">
                                            <li><a onclick="window.alert('share!');"><i class="icon icon-weibo"></i> 微博</a></li>
                                            <li><a onclick="window.alert('share!');"><i class="icon icon-qzone"></i> QZONE</a></li>
                                            <li><a onclick="window.alert('share!');"><i class="icon icon-wechat"></i> 微信</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="aw-mod aw-question-comment">
                        <div class="mod-head">
                            <ul class="nav nav-tabs aw-nav-tabs active">

                                <h2 class="hidden-xs">1 个回复</h2>
                            </ul>
                        </div>
                        <div class="mod-body aw-feed-list">
                            {% for x in answers_and_users %}
                                <div class="aw-item" uninterested_count="0" force_fold="0" id="answer_list_46859">
                                <div class="mod-head">
                                    {% if x.is_anonymous %}
                                    <a class="anchor" name="answer_1"></a>
                                    <!-- 用户头像 -->
                                    <a class="aw-user-img aw-border-radius-5"><img src="/static/img/avatar/avatar.png" alt="anonymous" /></a>
                                    <div class="title">
                                        <p>
                                            <a class="aw-user-name">匿名用户</a>																																		</p>
                                        <p class="text-color-999 aw-agree-by collapse">
                                            赞同来自:
                                        </p>
                                    </div>
                                    {% else %}
                                        <a class="anchor" name="answer_1"></a>
                                    <!-- 用户头像 -->
                                    <a class="aw-user-img aw-border-radius-5" href="/people/{{ x.uid }}"><img src="/{{ x.avatar_url }}" alt="" /></a>
                                    <div class="title">
                                        <p>
                                            <a class="aw-user-name" href="/people/{{ x.uid }}">{{ x.username }}</a>
                                            {% if x.introduction %}
                                                - <span class="text-color-999">
                                                {{ x.introduction }}
                                            {% endif %}
                                            </span>																																			</p>
                                        <p class="text-color-999 aw-agree-by collapse">
                                            赞同来自:
                                        </p>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="mod-body clearfix">
                                    <!-- 评论内容 -->
                                    <div class="markitup-box">
                                        {% autoescape false %}
                                        {{ x.content }}<br />
                                        {% endautoescape %}
                                    </div>
                                </div>
                                <div class="mod-footer">
                                    <!-- 社交操作 -->
                                    <div class="meta clearfix">
                                        <span class="text-color-999 pull-right">17 分钟前</span>
                                        <!-- 投票栏 -->
											<span class="operate">
												<a class="agree  disabled" ><i data-placement="right" title="" data-toggle="tooltip" class="icon icon-agree" data-original-title="赞同回复"></i> <b class="count">0</b></a>
											</span>
{#											<span class="operate">#}
{#												<a class="aw-add-comment" data-id="46858" data-type="answer" data-comment-count="0" data-first-click="collapse" href="javascript:;"><i class="icon icon-comment"></i> 0</a>#}
{#											</span>#}
{#                                        <!-- 可显示/隐藏的操作box -->#}
{#                                        <div class="more-operate">#}
{##}
{#                                            <div class="btn-group pull-left">#}
{#                                                <a class="text-color-999 dropdown-toggle" data-toggle="dropdown">#}
{#                                                    <i class="icon icon-share"></i> 分享													</a>#}
{#                                                <div aria-labelledby="dropdownMenu" role="menu" class="aw-dropdown shareout pull-right">#}
{#                                                    <ul class="aw-dropdown-list">#}
{#                                                        <li><a onclick="window.alert('share!');"><i class="icon icon-weibo"></i> 微博</a></li>#}
{#                                                        <li><a onclick="window.alert('share!');"><i class="icon icon-qzone"></i> QZONE</a></li>#}
{#                                                        <li><a onclick="window.alert('share!');"><i class="icon icon-wechat"></i> 微信</a></li>#}
{#                                                    </ul>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="mod-footer">
                            <div class="aw-load-more-content collapse" id="load_uninterested_answers">
                                <span class="text-color-999 aw-alert-box text-color-999" href="javascript:;" tabindex="-1" onclick="AWS.alert('被折叠的回复是被你或者被大多数用户认为没有帮助的回复');">为什么被折叠?</span>
                                <a href="javascript:;" class="aw-load-more-content"><span class="hide_answers_count">0</span> 个回复被折叠</a>
                            </div>

                            <div class="collapse aw-feed-list" id="uninterested_answers_list"></div>
                        </div>

                    </div>

                    <!-- 回复编辑器 -->
                    <div class="aw-mod aw-replay-box question">
                        <a name="answer_form"></a>
                        <p align="center">要回复问题请先<a href="/login">登录</a>或<a href="/register">注册</a></p>
                    </div>
                </div>
                <!-- 侧边栏 -->
                <div class="col-md-3 aw-side-bar hidden-xs hidden-sm">
                    <!-- 发起人 -->
                    <div class="aw-mod">
                        <div class="mod-head">
                            <h3>发起人</h3>
                        </div>
                        <div class="mod-body">
                            <dl>
                                {% if question.is_anonymous %}
                                <dt class="pull-left aw-border-radius-5">
                                    <img alt="匿名用户" src="/static/img/avatar/avatar.png" />
                                </dt>
                                <dd class="pull-left"><br />匿名用户
                                    <p></p>
                                </dd>
                                {% else %}
                                    <dt class="pull-left aw-border-radius-5">
                                        <a href="/people/{{ questioner.uid }}"><img alt="{{ questioner.username }}" src="/{{ questioner.avatar_url }}" /></a>
                                    </dt>
                                    <dd class="pull-left">
                                        <a class="aw-user-name" href="/people/{{ questioner.uid }}"><br />{{ questioner.username }}</a>
                                        <p></p>
                                    </dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>

                    <!-- 相关问题 -->
                    <div class="aw-mod">
                        <div class="mod-head">
                            <h3>相关问题</h3>
                        </div>
                        <div class="mod-body font-size-12">
                            <ul>
                                <li><a href="/question/4">我很担心未来老白的发展路线！</a></li>
                                <li><a href="/question/5">老白的另外一个问题。老白的另外一个问题。</a></li>
                                <li><a href="/question/7">老白的另外一个问题。</a></li>
                                <li><a href="/question/1">老白的另外一个问题。</a></li>
                                <li><a href="/question/2">老白的另外一个问题。</a></li>
                                <li><a href="/question/7">老白的另外一个问题。</a></li>
                                <li><a href="/question/1">老白的另外一个问题。</a></li>
                                <li><a href="/question/1">老白的另外一个问题。</a></li>
                                <li><a href="/question/1">老白的另外一个问题。</a></li>
                                <li><a href="/question/2">老白的另外一个问题。</a></li>
                                <li><a href="/question/1">老白的另外一个问题。</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- 问题状态 -->
                    <div class="aw-mod question-status">
                        <div class="mod-head">
                            <h3>问题状态</h3>
                        </div>
                        <div class="mod-body">
                            <ul>
                                <li>最新活动: <span class="aw-text-color-blue">17 分钟前</span></li>
                                <li>浏览: <span class="aw-text-color-blue">30</span></li>
                                <li>关注: <span class="aw-text-color-blue">2</span> 人</li>

                                <li class="aw-border-radius-5" id="focus_users"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://wenda.wecenter.com/static/js/app/question_detail.js"></script>

<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2016<span class="hidden-xs"> - All Rights Reserved</span>



    </div>
</div>

<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>
<script type="text/javascript" src="/static/js/bughd.min.js" crossOrigin="anonymous"></script>


</body>
</html>
