
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>话题广场 - WhuDa 符合大学生行为习惯的网络问答社区</title>
    <meta name="keywords" content=" " />
    <meta name="description" content=" " />
    <base href="#" /><!--[if IE]></base><![endif]-->
    <link href="#" rel="shortcut icon" type="image/x-icon" />

    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="static/css/icon.css" rel="stylesheet" type="text/css" />
    <link href="static/css/common.css" rel="stylesheet" type="text/css" />
    <link href="static/css/link.css" rel="stylesheet" type="text/css" />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />


    <script src="/static/js/jquery.2.js" type="text/javascript"></script>
    <script src="/static/js/jquery.form.js" type="text/javascript"></script>
    <script src="/static/js/plug-in_module.js" type="text/javascript"></script>
    <script src="/static/js/compatibility.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <!--[if lte IE 8]>
	<script type="text/javascript" src="/static/js/respond.js"></script>
    <![endif]-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="/static/img/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<div class="aw-top-menu-wrap">
    <div class="container">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="/"></a>
        </div>
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="#" id="global_search_form" method="post">
                <input class="form-control search-query" type="text" placeholder="搜索问题、话题或人" autocomplete="off" name="q" id="aw-search-query" />
                <span title="搜索" id="global_search_btns" onClick="window.alert('search!');"><i class="icon icon-search"></i></span>
            </form>
        </div>
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button  class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" class=""><i class="icon icon-list"></i> 发现</a></li>
                    <li><a href="#" class="active"><i class="icon icon-topic"></i> 话题</a></li>
                    <li><a href="/help"><i class="icon icon-bulb"></i> 帮助</a></li>					<li>
                    <a style="font-weight:bold;">· · ·</a>
                    <div class="dropdown-list pull-right">
                        <ul id="extensions-nav-list">
                            <li><a href="/about"><i class="icon icon-activity"></i> 关于WhuDa</a></li>
                        </ul>
                    </div>
                </li>
                </ul>
            </nav>
        </div>
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            <a class="login btn btn-normal btn-primary" href="/login">登录</a>
            <a class="register btn btn-normal btn-success" href="/register">注册</a>
        </div>

    </div>
</div>

<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!-- tab切换 -->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li class="active"><a href="#">30 天</a></li>
                        <li ><a href="/topic-recent-week">7 天</a></li>
                        <li ><a href="/topic">全部</a></li>
                        <h2 class="hidden-xs"><i class="icon icon-topic"></i> 热门话题</h2>
                    </ul>

                    <!-- 我关注的话题 -->
                    <div class="aw-mod aw-topic-list">
                        <div class="mod-body clearfix">
                            {% for data in datas %}
                            <div class="aw-item">
                                <!-- 话题图片 -->
                                <a class="img aw-border-radius-5" href="/topic/{{ data.topic_id }}">
                                    <img src="/{{ data.topic_url }}" alt="{{ data.topic_name }}" />
                                </a>

                                <p class="clearfix">
                                    <!-- 话题内容 -->
                                    <span class="topic-tag">
                                        <a class="text" href="/topic/{{ data.topic_id }}">{{ data.topic_name }}</a>
                                    </span>

                                </p>
                                <p class="text-color-999">
                                    <span>{{ data.topic_question_count }} 个问题</span>
                                    <span>{{ data.topic_focus }} 个关注</span>
                                </p>
                                <p class="text-color-999">7 天新增 {{ data.last_week_question_count }} 个问题, 30 天新增 {{ data.last_month_question_count }} 个问题 </p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="mod-footer clearfix">
                            <div class="page-control">
                                <ul class="pagination pull-right">
                                    {% autoescape false %}
                                    {{ pagination }}
                                    {% endautoescape %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-3 col-md-3 aw-side-bar hidden-sm hidden-xs">
                    <!-- 今日话题 -->
                    <div class="aw-mod topic-daily hidden-xs">
                        <div class="mod-head">
                            <h3>今日话题</h3>
                        </div>
                        <div class="mod-body">
                            <dl>
                                <dt class="pull-left">
                                    <!-- 话题图片 -->
                                    <a class="img aw-border-radius-5" href="/topic/{{ today_topic.topic_id }}">
                                        <img src="/{{ today_topic.topic_url }}" alt="{{ today_topic.name }}" />
                                    </a>

                                </dt>
                                <dd class="pull-left">{{ today_topic.name }}</dd>
                            </dl>
                            <!-- 话题描述 -->
                            <p>
                                <span>{{ today_topic.introducation }}</span>...<a href="/topic/{{ today_topic.topic_id }}">进入话题 »</a></p>
                        </div>
                    </div>
                    <!-- 新增话题 -->
                    <div class="aw-mod new-topic">
                        <div class="mod-head">
                            <h3>新增话题</h3>
                        </div>
                        <div class="mod-body clearfix">
                            <div class="aw-topic-bar">
                                <div class="topic-bar clearfix">
                                    <span class="topic-tag">
                                        <a class="text" href="/topic/%E7%AD%BE%E5%88%B0%E6%8F%92%E4%BB%B6">签到插件</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a class="text" href="/topic/%E7%A7%AF%E5%88%86%E7%AD%BE%E5%88%B0">积分签到</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a class="text" href="/topic/%E5%88%A0%E9%99%A4%E7%AD%94%E6%A1%88">删除答案</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a class="text" href="topic/%E7%BB%91%E5%AE%9A">绑定</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a class="text" href="/topic/%E6%89%8B%E5%86%8C">手册</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a class="text" href="/topic/3.2.0">3.2.0</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a class="text" href="/topic/%E6%89%B9%E9%87%8F%E5%9F%9F%E5%90%8D%E6%B3%A8%E5%86%8C">批量域名注册</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a class="text" href="/topic/%E5%BE%AE%E4%BF%A1%E7%BE%A4">微信群</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a class="text" href="/topic/%E7%BE%A4%E8%81%8A">群聊</a>
                                    </span>
                                    <span class="topic-tag">
                                        <a class="text" href="/topic/%E7%9F%AD%E7%BD%91%E5%9D%80">短网址</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2016<span class="hidden-xs"> - All Rights Reserved</span>



    </div>
</div>

<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>
<script type="text/javascript" src="/static/js/bughd.min.js" crossOrigin="anonymous"></script>


</body>
</html>
