<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=" " />
    <meta name="description" content=" " />
    <title>WhuDa 登录/注册</title>

    <link rel='stylesheet prefetch' href='/static/css/googleapis.css'>
    <link rel='stylesheet prefetch' href='/static/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/static/css/login_style.css">

</head>

<body>


<!-- Mixins-->
<!-- Pen Title-->
<div class="pen-title">
    <h1>WhuDa 登录/注册</h1>
</div>
<div class="rerun"><a href="/">回到首页</a></div>
<div class="container active">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">登录/注册</h1>
        <form>
            <div class="input-container">
                <input type="text" id="Username" required="required"/>
                <label for="Username">用户名/邮箱</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="Password" required="required"/>
                <label for="Password">密码</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button><span>Go</span></button>
            </div>
            <div class="footer"><a href="#">忘记密码?</a></div>
        </form>
    </div>
    <div class="card alt">
        <div class="toggle"></div>
        <h1 class="title">注册
            <div class="close"></div>
        </h1>
        <form>
            <div class="input-container">
                <input type="text" id="Username" required="required"/>
                <label for="Username">用户名</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="text" id="Email" required="required"/>
                <label for="Email">邮箱</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="Password" required="required"/>
                <label for="Password">密码</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="Repeat Password" required="required"/>
                <label for="Repeat Password">再次输入</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button><span>下一步</span></button>
            </div>
        </form>
    </div>
</div>
<!-- Portfolio--><a id="portfolio" href="/" title="View my portfolio!"><i class="fa fa-link"></i></a>
<!-- CodePen--><a id="codepen" href="/" title="Follow me!"><i class="fa fa-codepen"></i></a>
<script src='/static/js/jquery.2.js'></script>

<script src="/static/js/login.js"></script>




</body>
</html>
